.layout {}

@media (min-width: 768px) {
  .layout {
    max-width: 70em;
    margin: 0 auto;
  }
}

.layout-container {
  padding: 0 1em;
}

@media (min-width: 768px) {
  .layout-container {
    max-width: 38em;
    margin: 0 auto;
  }
}
