.article-caption {
  display: block;
  color: black;
  margin-bottom: 2em;
}

a.article-caption {
  text-decoration: none;
  cursor: pointer;
}

.article-caption_cover {
  margin-left: -1em;
  margin-right: -1em;
}

.article-caption-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 8em;
  text-align: center;
}

.article-caption_page-caption .article-caption-container {
  min-height: 12em;
}

.article-caption-image {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.article-caption_cover_photo .article-caption-image {
  display: flex;
  justify-content: center;
}

.article-caption-image img {
  object-fit: cover;
}

.article-caption_cover_photo .article-caption-image img {
  height: 100%;
}

@media (min-width: 768px) {
  .article-caption-image img {
    min-width: 100%;
  }

  .article-caption_cover_photo .article-caption-image img {
    width: 100%;
    height: auto;
  }
}

.article-caption_cover .article-caption-container {
  min-height: 20em;
  padding: 1em;
  color: white;
}

.article-caption_cover_photo .article-caption-container {
  min-height: 24em;
}

.article-caption_cover .article-caption-container::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(0deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 75%);
}

.article-caption_cover_photo .article-caption-container::after {
  background: linear-gradient(0deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 50%);
}

.article-caption-tags,
.article-caption-title,
.article-caption-date {
  z-index: 3;
  position: relative;
}

h1.article-caption-title {
  margin: 0;
  font-size: 150%;
}

h2.article-caption-title {
  margin: 0;
  font-size: 130%;
}

.article-caption-tags,
.article-caption-date {
  color: #888;
}

.article-caption-tags span {
  margin: 0 0.25em;
}

.article-caption_cover .article-caption-title,
.article-caption_cover .article-caption-date {
  color: white;
  text-shadow: 0 1px 0 black;
}
