.article-caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 8em;
  margin-top: 3em;
  text-align: center;
}

.article-caption-title {
  margin: 0;
  font-size: 130%;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.article-caption-date {
  color: #888;
}
