.page-caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 8em;
  margin-top: 4em;
  text-align: center;
}

.page-caption_h1 {
  min-height: 12em;
  margin-top: 0;
}

.page-caption_image {
  justify-content: flex-end;
  min-height: 20em;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 2em;
  padding: 20px;
  color: white;
  background: linear-gradient(0deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 50%),
    var(--background-image);
  background-position: left bottom;
  background-size: cover;
  text-align: center;
}

.page-caption-title {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

h1.page-caption-title {
  font-size: 150%;
}

h2.page-caption-title {
  font-size: 130%;
}

.page-caption-date {
  color: #888;
}

.page-caption_image .page-caption-title,
.page-caption_image .page-caption-date {
  color: white;
  text-shadow: 0 1px 0 black;
}
