.page-caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 8em;
  margin-top: 3em;
  text-align: center;
}

.page-caption_title {
  min-height: 12em;
}

.page-caption-title {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

h1.page-caption-title {
  font-size: 150%;
}

h2.page-caption-title {
  font-size: 130%;
}

.page-caption-date {
  color: #888;
}
