.footer {
  color: #888;
  font-size: 12px;
  padding: 20px 0;
}

.footer-author {
  margin-left: 1em;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.footer a {
  color: #888;
}

.footer span > span {
  display: none;
}
