.text em {
  font-style: normal;
}


.text > pre {
  overflow: scroll;
  margin: 2em 0;
  padding: 1em;
  background: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 75%;
}

.text p > code {
  margin: 0 0.1em;
  font-size: 90%;
}

.text a {
  color: black;
}

.text figure.source-image {
  margin: 2em 0;
  padding: 0;
}

.text figure.source-image img {
  max-width: 100%;
}

.text figure.source-image figcaption {
  margin-top: 0.5em;
  color: #888;
}

/* Turn off Highlight.js styles */
.text .hljs {
  overflow-x: visible;
  padding: 0;
}
