.article-closing {
  margin: 2em -1em;
  padding: 2em 1em 1em;
  background: #ebebeb;
}

.article-closing-meta {
  margin: 0.5em 0;
  color: #888;
  text-align: center;
}

.article-closing-text {
  margin-top: 1em;
}

.article-closing-actions {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1em;
}

.article-closing-actions a {
  margin: 0 0.5em;
  color: black;
}

.article-closing-actions .article-closing-cta {
  color: red;
}
