.menu {}

.menu-intro {}

@media (min-width: 768px) {
  .menu-intro {
    display: none;
  }
}

.menu-nav {
  margin-top: 1em;
  display: flex;
  justify-content: space-evenly;
}

@media (min-width: 768px) {
  .menu-nav {
    margin-top: 0;
    justify-content: flex-start;
  }
}

.menu-link {
  color: black;
}

@media (min-width: 768px) {
  .menu-link {
    margin-left: 2em;
    text-transform: uppercase;
    letter-spacing: 0.15em;
  }
}

.menu-link.active {
  font-weight: bold;
  text-decoration: none;
}
